
.header, .footer{
    background-color:white;
    width:100%;
    height:70%;
    text-align: center;
    background-color: burlywood;
}
ul.breadcrumb {
    padding: 20px 16px;
    background-color:black;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }

  ul.breadcrumb li a {
    color: #0275d8;
  }
  ul.breadcrumb li a:hover {
    color:cyan;
   
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color:grey;
    padding-left: 300px;
    padding-right: 300px;
    
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
.main{
    height:50%;
    width:100%;
    background-color: grey;
}

@media only screen{
  
}






